


:root {
    /* Light Mode Colors */
    --primary-background-light: #fff;
    --secondary-background-light: #fbfbfb;
    --tertiary-background-light: #efefef;
    --primary-text-light: #222;
    --secondary-text-light: #333;
    --button-gradient-light-start: #e2005e;
    --button-gradient-light-end: #0065e1;
}


.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.song-section,
.video-section,
.artist-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px; 
}

.artist-card img {
    max-width: 100%;
    width: 100%;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
}


a {
    text-decoration: none;
}

