/* style.css */

:root {
    /* Light Mode Colors */
    --primary-background-light: #fff;
    --secondary-background-light: #fbfbfb;
    --tertiary-background-light: #efefef;
    --primary-text-light: #222;
    --secondary-text-light: #333;
    --button-gradient-light-start: #e2005e;
    --button-gradient-light-end: #0065e1;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-background-light);
}

header {
    position: relative;
    background-color: var(--primary-background-light);
    color: var(--text-light);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

main {
    display: flex;
}

.main-container {
    position: relative;
    top: 0;
    left: 290px;
    width: 80%;
}

.sidebar-container {
    width: 20%;
    height: 100vh;
    background-color: var(--primary-background-light);
    color: var(--secondary-text-light);
    position: fixed;
    top: 0;
    left: 0; /* Hide sidebar initially */
    transition: left 0.3s ease;
}

.sidebar-container.active {
    left: -280px; 
}

/* .sidebar-container.active.main-container {
    width: 100%;
} */



