
:root {
    /* Light Mode Colors */
    --primary-background-light: #fff;
    --secondary-background-light: #fbfbfb;
    --tertiary-background-light: #efefef;
    --primary-text-light: #222;
    --secondary-text-light: #333;
    --button-gradient-light-start: #e2005e;
    --button-gradient-light-end: #0065e1;
}
