
:root {
    /* Light Mode Colors */
    --primary-background-light: #fff;
    --secondary-background-light: #fbfbfb;
    --tertiary-background-light: #efefef;
    --primary-text-light: #222;
    --secondary-text-light: #333;
    --button-gradient-light-start: #e2005e;
    --button-gradient-light-end: #0065e1;
}


/* Sidebar Styles */
.sidebar {
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
    margin: 0;
}

/* User Profile Styles */
.user-profile {
    text-align: center;
    margin: 10px 0;
}

.user-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-profile p {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

/* Navigation Styles */
.sidebar-navigation {
    margin-top: 50px;
    margin-left: 20px;
}
.sidebar-navigation ul {
    list-style: none;
    padding: 0;
}

.sidebar-navigation li {
    margin: 20px 25px;
}

.sidebar-navigation a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.sidebar-navigation a:hover {
    color: var(--button-gradient-light-end);
}

.sidebar-navigation i {
    margin-right: 15px;
    font-size: 20px;
}

/* Logout Styles */
.logout {
    margin: 100px 40px;
    margin-bottom: 10px;
}

.logout a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.logout a:hover {
    color: var(--button-gradient-light-start);
}

.logout i {
    margin-right: 15px;
    font-size: 20px;
}
