/* upload.css */

/* Light Mode Colors */
:root {
    --primary-background: #fff;
    --secondary-background: #fbfbfb;
    --tertiary-background: #efefef;
    --primary-text: #222;
    --secondary-text: #333;
    --button-gradient-start: #e2005e;
    --button-gradient-end: #0065e1;
}

body {
    background-color: var(--primary-background);
    color: var(--primary-text);
    font-family: Arial, sans-serif;
}

.upload-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.upload-form {
    background-color: var(--secondary-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-form h2 {
    margin-bottom: 20px;
    color: var(--button-gradient-start); /* Adjust text color for better visibility */
}

.upload-form input[type="text"],
.upload-form input[type="file"],
.upload-form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--tertiary-background);
    border-radius: 4px;
    background-color: var(--secondary-background);
    color: var(--primary-text);
    transition: border-color 0.3s ease;
}

.upload-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--tertiary-background);
    border-radius: 4px;
    background-color: var(--secondary-background);
    color: var(--primary-text);
    transition: border-color 0.3s ease;
    resize: vertical; /* Allow vertical resizing */
}

.upload-form input[type="file"] {
    cursor: pointer;
}

.upload-form input[type="text"]:focus,
.upload-form textarea:focus,
.upload-form input[type="file"]:focus {
    border-color: var(--button-gradient-start);
    outline: none;
}

.upload-form button {
    padding: 12px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(to right, var(--button-gradient-start), var(--button-gradient-end));
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.upload-form button:hover {
    background: linear-gradient(to right, var(--button-gradient-end), var(--button-gradient-start));
}
